<?xml version="1.0" encoding="UTF-8"?>
<root>
    <author>dsltyyz</author>
    <data-source>
        <url>jdbc:mysql://localhost:3306/dsltyyz</url>
        <driver-name>com.mysql.cj.jdbc.Driver</driver-name>
        <username>root</username>
        <password>root</password>
    </data-source>
    <strategy>
        <parent-package>com.dsltyyz.sms</parent-package>
        <module-name>app</module-name>
        <include-table>
            <table>sms_app</table>
            <table>sms_app_token</table>
        </include-table>
    </strategy>

</root>